.form-question-wrapper {
    display: flex;
    align-items: center
}

.form-question {
    padding: 5px 0;
    font-size: 18px;
    line-height: 1.4;
}

.form-note {
    padding: 5px 0;
}

.form-note-disabled {
    color: rgba(0, 0, 0, 0.38);
}

