<div class="form-question-wrapper">
    <app-form-edit-menu
        class="form-templ-edit-icon"
        *ngIf="isEditMode"
        [itemId]="question.id"
    >
    </app-form-edit-menu>
    <div class="form-question primary">{{ question.value | capitalize }}</div>
</div>
<div class="form-question-wrapper">
    <app-form-edit-menu
        class="form-templ-edit-icon"
        *ngIf="isEditMode"
        [itemId]="note.id"
    >
    </app-form-edit-menu>
    <div
        class="form-note"
        *ngIf="isDisplayAllowed"
        [ngClass]="{'form-note-disabled': !note.isEnable}"
    >{{ note.value | capitalize }}
    </div>
</div>
