
<div class="display-flex">
    <app-form-edit-menu
        class="form-templ-edit-icon"
        [item]="formQuestion"
        *ngIf="isEditMode()"
    >
    </app-form-edit-menu>
    <div class="form-question primary">{{ formQuestion.value | capitalize }}</div>
</div>
<div class="display-flex">
    <app-form-edit-menu
        class="form-templ-edit-icon"
        [item]="formNote"
        *ngIf="isEditMode()"
    >
    </app-form-edit-menu>
    <div class="form-note" *ngIf="formNote.value">{{ formNote.value | capitalize }}</div>
</div>
