<div class="container">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let user of users">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ user.userName }}</mat-panel-title>
        <mat-panel-description>
          {{ user.uid }}
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-action-row>
        <button
          mat-stroked-button
          color="primary"
          [routerLink]="['/app/account', user.userName]"
          [queryParams]="{ id: user.uid }"
        >Edit
        </button>
        <button mat-stroked-button>Message</button>
        <button
          mat-stroked-button
          color="warn"
          (click)="onBlockUnblock(user)"
        >{{ user.isBlocked ? 'Unblock' : 'Block' }}
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
  