<div class="container">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let user of users">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ user.userName }}</mat-panel-title>
        <mat-panel-description>
          {{ user.uid }}
          <!-- <mat-icon>date_range</mat-icon> -->
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-action-row>
        <button
          mat-flat-button
          color="accent"
          [routerLink]="['/app/account', user.userName]"
          [queryParams]="{ id: user.uid }"
        >Edit
        </button>
        <button mat-flat-button color="warn">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
  