<mat-radio-group
	class="form-radio-group"
	[(ngModel)]="yourAnswer"
>
	<div *ngFor="let option of formOptions">
		<app-form-edit-menu
			class="form-templ-edit-icon"
			[itemId]="option.id"
			*ngIf="isEditMode()"
		>
		</app-form-edit-menu>
		<mat-radio-button
			primary class="form-radio-btn"
			[value]="option.id"
		>{{ option.value | titlecase }}
		</mat-radio-button>
	</div>
	<div>
		<app-form-edit-menu
			class="form-templ-edit-icon"
			[itemId]="optionOther.id"
			*ngIf="isEditMode()"
		>
		</app-form-edit-menu>
		<mat-radio-button primary class="form-radio-btn option-other"></mat-radio-button>
		<mat-form-field>
			<input matInput placeholder="Other" autocomplete="off">
		</mat-form-field>
	</div>
</mat-radio-group>