<mat-radio-group
	class="form-radio-group"
	[(ngModel)]="yourAnswer"
>
	<div *ngFor="let option of options">
		<app-form-edit-menu
			class="form-templ-edit-icon"
			*ngIf="isEditMode"
			[itemId]="option.id"
		>
		</app-form-edit-menu>
		<mat-radio-button
			primary
			class="form-radio-btn"
			[value]="option"
		>{{ option.value | titlecase }}
		</mat-radio-button>
	</div>
	<div>
		<app-form-edit-menu
			class="form-templ-edit-icon"
			*ngIf="isEditMode"
			[itemId]="optionOther.id"
		>
		</app-form-edit-menu>
		<mat-radio-button
			primary
			class="form-radio-btn option-other"
			*ngIf="isDisplayAllowed"
			[disabled]="!optionOther.isEnable"
		>
			<mat-form-field>
				<input
					matInput
					placeholder="Other"
					autocomplete="off"
					[disabled]="!optionOther.isEnable"
				>
			</mat-form-field>
		</mat-radio-button>

	</div>
</mat-radio-group>