<mat-radio-group class="form-radio-group" [(ngModel)]="yourAnswer">
  <div *ngFor="let answer of answers">
    <app-form-edit-menu *ngIf="!formTemplateService.isPreview"></app-form-edit-menu>
    <mat-radio-button
      primary
      class="form-radio-btn"
      [value]="answer"
    >
      {{ answer | titlecase }}
    </mat-radio-button>
  </div>
  <div>
    <app-form-edit-menu *ngIf="!formTemplateService.isPreview"></app-form-edit-menu>
    <mat-radio-button primary class="form-radio-btn option-other"></mat-radio-button>
    <mat-form-field class="eho">
      <input
        matInput
        value="Other..."
        autocomplete="off"
      >
    </mat-form-field>
  </div>
</mat-radio-group>

