.card {
  max-width: 180px;
}

.card-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

@media (max-width: 550px) {
  .card {
    max-width: 300px;
  }
}
  