<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav"
      [ngClass]="{hidden: !(isHandset$ | async)}"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list (click)="drawer.toggle()">
      <a mat-list-item routerLink="/users" routerLinkActive="current" [queryParams]="{ page:1, order: 'newest' }">Users</a>
      <a mat-list-item routerLink="/app/posts" routerLinkActive="current">Posts</a>
      <!-- <a mat-list-item routerLink="/signin" routerLinkActive="current">Sign In</a> -->
      <!-- <a mat-list-item routerLink="/signup" routerLinkActive="current">Sign Up</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angube</span>
      <span class="spacer"></span>
      <span>{{ userName }}</span>
      <app-menu-icons></app-menu-icons>

    </mat-toolbar>
      <mat-toolbar color="accent" *ngIf="!(isHandset$ | async)">
          <!-- <span class="spacer"></span>
          <a routerLink="/signin" routerLinkActive="current">Sign In</a>
          <a routerLink="/signup" routerLinkActive="current">Sign Up</a> -->
      </mat-toolbar>

    <!-- Add Content Here -->
    <ng-content></ng-content>
    
  </mat-sidenav-content>
</mat-sidenav-container>

