<button
	mat-icon-button
	[matTooltip]="str.editMenu | titlecase"
	[matMenuTriggerFor]="menu"
	><mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
	<button
		mat-menu-item
		[disabled]="isEditDisabled"
		(click)="onEdit()"
	>
		<mat-icon>edit</mat-icon>
		<span>{{ str.edit | titlecase }}</span>
	</button>
	<button
		mat-menu-item
		(click)="onDelete()"
		[disabled]="isDeleteDisabled"
	>
		<mat-icon>delete</mat-icon>
		<span>{{ str.delete | titlecase }}</span>
	</button>
</mat-menu>
