<div class="container">
  <div class="card">
    <div class="right primary">Sign Up</div>
    <form
      class="example-form"
      [formGroup]="signUpForm"
      (ngSubmit)="onSignUp()"
    >
        <!-- Email -->
        <mat-form-field class="example-full-width">
          <input
            matInput
            type="email"
            placeholder="Email"
            formControlName="emailFormControl"
          >
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field class="example-full-width">
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Password"
            formControlName="passwordFormControl"
          >
          <mat-icon
            matSuffix
            style="cursor: pointer;"
            (click)="hide = !hide"
          >{{ hide ? 'visibility_off' : 'visibility' }}
          </mat-icon>

          <mat-error *ngIf="password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="password.hasError('minlength')">
              Password should be at least <strong>{{password.errors.minlength.requiredLength}}</strong> characters.
          </mat-error>
          <mat-error *ngIf="password.hasError('cannotContainSpace')">
            Password cannot contain <strong>space</strong>.
          </mat-error>
          <mat-error *ngIf="password.touched && !password.hasError('required') && !password.hasError('minlength') && !password.hasError('cannotContainSpace')">
            Please enter a password
          </mat-error>
        </mat-form-field>
        <!-- Confirm Password -->
        <mat-form-field class="example-full-width">
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Confirm Password"
            formControlName="confirmPasswordFormControl"
          >
          <mat-error *ngIf="isPasswordConfirmEmpty()">
            Password confirmation is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="isPasswordConfirmMatch()">
            Password <strong>does not match</strong>
          </mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          class="wide-100"
          color="primary"
          type="submit"
        >SUBMIT
        </button>
        <!-- [disabled]="!signUpForm.valid && !signUpForm.touched" -->

        <div class="progress-err-container">
          <mat-progress-bar mode="indeterminate" *ngIf="isFetching"></mat-progress-bar>
          <div class="err-msg">{{ error }}</div>
        </div>

    </form>
    <div class="top-5">
      <span class="right-10">Already have an account?</span>
      <button
        mat-stroked-button
        type="button"
        routerLink="/signin"
      >Sign In
      </button>
    </div>

  </div>
</div>

