<div class="container">
    <div class="card">

      <div class="top-note">{{ question }}</div>

      <div class="padd-5">
        <button
          mat-raised-button
          color="primary"
          class="wide"
          routerLink="/account"
          >Yes
        </button>
      </div>

      <div class="padd-5">
        <button
          mat-raised-button
          color="accent"
          class="wide"
          routerLink="/home"
        >Not now
        </button>
      </div>

    </div>
</div>
