<div class="container">
    <div class="card">

      <div class="top-note">{{ str.wouldYouLikeToUpdateYourAccount | capitalize }}?</div>

      <div class="padd-5">
        <button
          mat-raised-button
          color="primary"
          class="wide-100"
          [routerLink]="['/app/account', authService.userName]"
          [queryParams]="{ id: authService.uid }"
          >{{ str.yes | titlecase }}
        </button>
      </div>

      <div class="padd-5">
        <button
          mat-raised-button
          color="accent"
          class="wide-100"
          routerLink="/app/home"
        >{{ str.notNow | titlecase }}
        </button>
      </div>

    </div>
</div>
