.template-header-wrapper {
    display: flex;
    align-items: center;
}


.form-user-image {
    background-image: url('../../../../../assets/img/avatar1.png');
    background-size: cover;
}

.form-date {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
}

.mat-card-subtitle {
    margin-bottom: 0;
}

.title-edit-mode {
    margin: 0;
    padding: 3px 0 0;
}
