<div class="container">
  <div>
    <h1>{{ str.welcomeTo | capitalize }} {{ str.angube | titlecase }}</h1>
    
    <div class="card">
      <div class="top-note">{{ str.alreadyHaveAnAccount | capitalize }}?</div>
      <button
        mat-raised-button
        color="primary"
        class="wide-100"
        routerLink="/signin"
        >{{ str.signIn | titlecase }}
      </button>
    </div>
    
    <div class="card">
      <div class="top-note">{{ str.firstTimeUser | capitalize }}?</div>
      <button
        mat-raised-button
        color="accent"
        class="wide-100"
        routerLink="/signup"
        >{{ str.signUp | titlecase }}
      </button>
    </div>
  </div>
</div>
