<div class="container">
  <div>
    <h1>{{ welcomeTo | titlecase }} {{ angube | titlecase }}</h1>
    
    <div class="card">
      <div class="top-note">{{ alreadyHaveAnAccount | titlecase }}?</div>
      <button
        mat-raised-button
        color="primary"
        class="wide-100"
        routerLink="/signin"
        >{{ signIn | titlecase }}
      </button>
    </div>
    
    <div class="card">
      <div class="top-note">{{ firstTimeUser | titlecase }}?</div>
      <button
        mat-raised-button
        color="accent"
        class="wide-100"
        routerLink="/signup"
        >{{ signUp | titlecase }}
      </button>
    </div>
  </div>
</div>
