
<div class="container">
    <div class="card">
        <div class="space-between">
            <mat-icon
                style="cursor: pointer; color: #673ab7"
                (click)="onBack()"
                >arrow_back
            </mat-icon>
            <div class="right primary">User Details</div>
        </div>

        <mat-list-item role="listitem">
            <h4 mat-line class="profile-label">User Name</h4>
            <p mat-line *ngIf="user">{{ user.userName }}</p>
            <p mat-line *ngIf="!user">...</p>
        </mat-list-item>
        <mat-list-item role="listitem">
            <h4 mat-line class="profile-label">First Name</h4>
            <p mat-line *ngIf="user">{{ user.firstName ? user.firstName : '--' }}</p>
            <p mat-line *ngIf="!user">...</p>
        </mat-list-item>
        <mat-list-item role="listitem">
            <h4 mat-line class="profile-label">Last Name</h4>
            <p mat-line *ngIf="user">{{ user.lastName ? user.lastName : '--' }}</p>
            <p mat-line *ngIf="!user">...</p>
        </mat-list-item>
        <mat-list-item role="listitem">
            <h4 mat-line class="profile-label">E-mail</h4>
            <p mat-line *ngIf="user">{{ user.email }}</p>
            <p mat-line *ngIf="!user">...</p>
        </mat-list-item>
        <mat-list-item role="listitem">
            <h4 mat-line class="profile-label">Birth Date</h4>
            <p mat-line *ngIf="user">{{ user.birthdate ? user.birthdate : '--' }}</p>
            <p mat-line *ngIf="!user">...</p>
        </mat-list-item>
        <mat-list-item role="listitem">
            <h4 mat-line class="profile-label">User ID</h4>
            <p mat-line *ngIf="user">{{ user.uid }}</p>
            <p mat-line *ngIf="!user">...</p>
        </mat-list-item>

        <hr>

        <mat-list-item role="listitem" *ngFor="let item of items">
            <h4 mat-line class="profile-label">{{ item[0] | share | titlecase }}</h4>
            <p mat-line>{{ item[1].value }}</p>
            <p mat-line>{{ item[1].isShared }}</p>
        </mat-list-item>

        
    </div>
</div>