
<div class="container">
    <div class="card">
        <mat-list role="list">
            <h3 mat-subheader>User Details</h3>

            <mat-list-item role="listitem">
                <h4 mat-line>User ID:</h4>
                <p mat-line>{{user.uid}}</p>
            </mat-list-item>

            <mat-list-item role="listitem">
                <h4 mat-line>User Name:</h4>
                <p mat-line>{{user.userName}}</p>
            </mat-list-item>

            <mat-list-item role="listitem">
                <h4 mat-line>First Name:</h4>
                <p mat-line>{{user.firstName}}</p>
            </mat-list-item>

            <mat-list-item role="listitem">
                <h4 mat-line>Last Name:</h4>
                <p mat-line>{{user.lastName}}</p>
            </mat-list-item>

        </mat-list>
        <!-- <button (click)="onSubmit()">Submit</button> -->
    </div>
</div>