.container {
    height: auto;
    padding: 20px 0 0 0;
}

.profile-label {
    color: #673ab7;
    font-size: 80%;
    padding: 20px 0 0 0;
    margin: 0;
    font-weight: initial;
}

p.mat-line {
    margin: 0;
    padding: 0;
}

.card {
    min-width: 300px;
}