
<div class="form-template-container">
    <div class="card">
      <div class="right primary" *ngIf="isCurrentUser, else user">{{ str.myAccount | titlecase }}</div>
      <ng-template #user>
        <div class="right primary">{{ str.userAccount | titlecase }}</div>
      </ng-template>
      <form
        class="example-form"
        [formGroup]="accountForm"
        (ngSubmit)="onAccountSave()"
      >
          <mat-form-field
            *ngFor="let field of fields"
            class="example-full-width"
          >
            <input
              matInput
              type="{{ field.type }}"
              placeholder = "{{ field.placeholder | titlecase }}"
              formControlName="{{ field.formControlName }}"
            >
            <mat-error>{{ (getErrorMessage(field.placeholder) | capitalize) }}</mat-error>
          </mat-form-field>
  
  
          <!-- TODO put the Loader and Err Msg in reusable component -->
          <div class="progress-err-container">
            <mat-progress-bar mode="indeterminate" *ngIf="isRequesting"></mat-progress-bar>
            <div class="err-msg">{{ error }}</div>
            <!-- TODO 'error' is not wired up -->
          </div>
          <!--  -->
  
          <div class="space-between">
            <button
              mat-raised-button
              class="wide-45"
              color="primary"
              type="submit"
            >{{ str.save | titlecase }}
            </button>
            <button
              mat-raised-button
              class="wide-45"
              type="button"
              (click)="onCancel()"
            >{{ str.cancel | titlecase }}
            </button>
          </div>
      </form>
    </div>
  </div>
  
