<div class="page-loader" *ngIf="isFetchingUsers">
  <app-progress-spinner></app-progress-spinner>
</div>
<div class="container">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let user of users">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ user.userName }}</mat-panel-title>
        <mat-panel-description>{{ user.uid }}</mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-action-row>
        <button
          mat-stroked-button
          color="primary"
          [routerLink]="['/app/account', user.userName]"
          [queryParams]="{ id: user.uid }"
        >{{ str.edit | titlecase }}
        </button>
        <button
          mat-stroked-button
          (click)="onMessage(user)"
        >{{ str.message | titlecase }}
        </button>
        <button
          mat-stroked-button
          color="warn"
          (click)="onBlockUnblock(user)"
        >{{ user.isBlocked ? (str.unblock | titlecase) : (str.block | titlecase) }}
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
  