.form-preview-container {
    padding: 10px;
}

.form-preview {
    min-width: 300px;
    max-width: 400px;
}

.form-header-image {
    background-image: url('../../../../assets/img/kamen1.jpg');
    background-size: cover;
}

.form-question {
    padding: 10px 0;
    font-size: 18px;
    line-height: 1.4;
}

.form-radio-group {
    display: flex;
    flex-direction: column;
}

.form-radio-btn {
    margin: 10px 0;
}

.form-date {
    padding: 0 0 5px;
    font-size: 14px;
}

.form-option-other {
    width: 100%;
    min-height: 60px;
}
