/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto,"Helvetica Neue", sans-serif;
}

.primarycolor {
    color: #673ab7;
    opacity: 1;
}

.container {
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 330px;
    /* display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* @media (max-width: 350px) {
    .container {
        height: auto;
    }
} */

.card {
    margin: 10px;
    min-width: 150px;
    max-width: 350px;
    background-color: rgb(255, 255, 255);
    color: rgba(0,0,0,.87);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
                0 1px 1px 0 rgba(0,0,0,.14),
                0 1px 3px 0 rgba(0,0,0,.12);
    /* -webkit-transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out;
    transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out; */

}

/* div.card:hover {
    background-color: rgb(245, 245, 245);
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
                0 1px 1px 0 rgba(0,0,0,.2),
                0 1px 3px 0 rgba(0,0,0,.2);
} */

.right {
    display: flex;
    justify-content: flex-end;
}

.right.primary {
    color: #673ab7;
    font-weight: bold
}


.space-between {
    display: flex;
    justify-content: space-between;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
    padding-bottom: 25px;
}

.wide-100 {
    width: 100%;
}

.wide-45 {
    width: 45%;
}

.top-note {
    padding: 0 0 15px 0;
    text-align: center;
}

.top-5 {
    margin-top: 5px;
}

.right-10 {
    margin-right: 10px;
}

.padd-5 {
    padding: 5px;
}

.progress-err-container {
    margin-top: 10px;
    min-height: 40px;
}

.err-msg {
    color: #f44336;
    font-size: 80%;
    text-align: center;
}

.ellipsis-110 {
    max-width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-icon {
    margin-right: 6px;
}
