<div class="container">
  <div class="card">
      <div class="right">Sign In</div>
    <form
      class="example-form"
      [formGroup]="signInForm" 
      (ngSubmit)="onSignIn()"
    >
        <!-- Email -->
        <mat-form-field class="example-full-width">
          <input
            matInput
            type="email"
            placeholder="Email"
            formControlName="emailFormControl"
          >
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field class="example-full-width">
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Password"
            formControlName="passwordFormControl"
          >
          <mat-icon
            matSuffix
            style="cursor: pointer;"
            (click)="hide = !hide"
          >{{ hide ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          <mat-error *ngIf="password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="password.hasError('minlength')">
            Password should be minimum <strong>{{password.errors.minlength.requiredLength}}</strong> characters.
          </mat-error>
          <mat-error *ngIf="password.touched && !password.hasError('required') && !password.hasError('minlength')">
            Please enter a password
          </mat-error>
        </mat-form-field>
  
        <button
          mat-raised-button
          class="wide-100"
          color="primary"
          type="submit"
        >LOGIN
        </button>
        <!-- [disabled]="!signInForm.valid && !signInForm.touched" -->
  
    </form>
    <div class="top-5">Not registered yet?</div>
    <button
      mat-stroked-button
      color="primary"
      type="button"
      routerLink="/signup"
    >Sign Up
    </button>
  </div>
</div>

