
<div class="container">
  <div class="card">
    <div class="right primary">{{ str.userAccount | titlecase }}</div>
    <form
      class="example-form"
      [formGroup]="accountForm"
      (ngSubmit)="onAccountSave()"
    >
        <mat-form-field
          *ngFor="let field of fields"
          class="example-full-width"
        >
          <input
            matInput
            placeholder = "{{ field.placeholder | titlecase }}"
            formControlName="{{ field.formControlName }}"
          >
          <mat-error>{{ getErrorMessage(field.placeholder) }}</mat-error>
        </mat-form-field>


        <!-- TODO put the Loader and Err Msg in reusable component -->
        <div class="progress-err-container">
          <mat-progress-bar mode="indeterminate" *ngIf="isRequesting"></mat-progress-bar>
          <div class="err-msg">{{ error }}</div>
          <!-- TODO 'error' is not wired up -->
        </div>
        <!--  -->

        <div class="space-between">
          <!-- Save Btn -->
          <button
            mat-raised-button
            class="wide-45"
            color="primary"
            type="submit"
          >{{ str.save | titlecase }}
          </button>

          <!-- Cancel Btn -->
          <button
            mat-raised-button
            class="wide-45"
            type="button"
            (click)="onCancel()"
          >{{ str.cancel | titlecase }}
          </button>

        </div>
    </form>
  </div>
</div>


