
<div class="container">
  <div class="card">
    <div class="right primary">{{ str.userAccount | titlecase }}</div>
    <form
      class="example-form"
      [formGroup]="accountForm"
      (ngSubmit)="onAccountSave()"
    >
        <!-- User Name -->
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="User Name *"
            formControlName="userNameFormControl"
          >
          <mat-error *ngIf="!isUserNameValid()">{{ getErrorMessage(str.userName) }}</mat-error>
        </mat-form-field>

        <!-- First Name -->
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="First Name"
            formControlName="firstNameFormControl"
          >
          <mat-error *ngIf="!isFirstNameValid()">{{ getErrorMessage(str.firstName) }}</mat-error>
        </mat-form-field>

        <!-- Last Name -->
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Last Name"
            formControlName="lastNameFormControl"
          >
          <mat-error *ngIf="!isLastNameValid()">{{ getErrorMessage(str.lastName) }}</mat-error>
        </mat-form-field>

        <!-- TODO put the Loader and Err Msg in reusable component -->
        <div class="progress-err-container">
          <mat-progress-bar mode="indeterminate" *ngIf="isRequesting"></mat-progress-bar>
          <div class="err-msg">{{ error }}</div>
        </div>
        <!--  -->

        <div class="space-between">
          <!-- Save Btn -->
          <button
            mat-raised-button
            class="wide-45"
            color="primary"
            type="submit"
          >{{ str.save | titlecase }}
          </button>

          <!-- Cancel Btn -->
          <button
            mat-raised-button
            class="wide-45"
            type="button"
            (click)="onCancel()"
          >{{ str.cancel | titlecase }}
          </button>
        </div>

    </form>
  </div>
</div>


