<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav"
      [ngClass]="{hidden: !(isHandset$ | async)}"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>{{ str.menu | titlecase }}</mat-toolbar>
    <mat-nav-list (click)="drawer.toggle()">
      <a
        mat-list-item
        *ngFor="let appLink of navLinksService.appLinks | adminGuard:usersService.isCurrentUserAdmin"
        [routerLink]="appLink.routerLink"
        routerLinkActive="current"
      >{{ appLink.link | titlecase }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ str.angube }}</span>
      <span class="spacer"></span>
      <span class="ellipsis-110">{{ usersService.currentUserName }}</span>
      <app-menu-icons></app-menu-icons>
    </mat-toolbar>
    <div class="progress-placeholder" *ngIf="!progressService.isRequesting(), else progressBar"></div>
    <ng-template #progressBar>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>
    <app-nav-tab *ngIf="!(isHandset$ | async)"></app-nav-tab>


    <!-- Add Content Here -->
    <ng-content></ng-content>
    
  </mat-sidenav-content>
</mat-sidenav-container>

